<div>
    <div>
    {% if  page.category %}
        <p><strong>Catégorie</strong> : {{ page.category }}</p> 
    {% endif %}
    {% if  page.length %}
        <p><strong>Durée</strong> : {{ page.length }}</p> 
    {% endif %}
    </div>
    <div>
    {% if  page.object %}
        <p><strong>Objet</strong> : {{ page.object }}</p> 
    {% endif %}
    {% if  page.audience %}
        <p><strong>Publics</strong> : {{ page.audience }}</p> 
    {% endif %}
    {% if  page.prerequisites %}
        <p><strong>Pré-requis</strong> : {{ page.prerequisites }}</p> 
    {% endif %}
    </div>
    <div>
    {% if  page.topics %}
        <p><strong>Points abordés</strong> :</p> 
        <ul>
        {% for topic in page.topics %}
            <li>{{ topic }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    </div>
    <div>
    {% if  page.adaptation %}
        <p><strong> Adaptations</strong> : {{ page.adaptation }}</p> 
    {% endif %}
    {% if  page.conditions %}
        <p><strong> Conditions</strong> : {{ page.conditions }}</p> 
    {% endif %}
    </div>
</div>