<section id="ghTree" class="ghTree" data-title="tree">
    <h2>Liste des {{ page.collection | capitalize }}</h2>
  {% for resource in site[page.collection] %} {% unless resource.url contains
  "index.html" %}
  <article class="ghTreeItem ghTypeFile" data-title="dir">
    <h3 class="ghTreeTitle">
      <a class="folderLink" data-title="folderLink" href="{{ resource.url }}">
          {{ resource.title }} :: {{ resource.length }}
      </a>
    </h3>
    <p class="ghTreeExcerpt" data-title="fileExcerpt">{{ resource.object }}</p>
    <a class="ghTreeReadmore" title="Lire la suite de la fiche : {{ resource.title }}" data-title="fileReadmoreLink"
      href="{{ resource.url }}">Lire la suite de la fiche</a>
  </article>
  {% endunless %} {% endfor %}
</section>