---
layout: default

---

<article class="blobContent" data-title="content">
  <h2>{{ page.title }} [<a href="index.html">Catalogue</a>]</h1>
  {% include formation-metas.html %}
  {{ content }}
  {% include formation-tags.html %}

</article>
