<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ page.title | strip_html }}</title>
    <style>
        @import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
        @import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
        @import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

        body {
            font-family: 'Droid Serif';
        }

        h1,
        h2,
        h3 {
            font-family: 'Yanone Kaffeesatz';
            font-weight: normal;
        }

        .remark-code,
        .remark-inline-code {
            font-family: 'Ubuntu Mono';
        }
    </style>
</head>

<body>
    <textarea id="source">
{{content}}
    </textarea>
    <script src="{{ site.baseurl}}/remark-latest.min.js" type="text/javascript">
    </script>
    <script type="text/javascript">
        var slideshow = remark.create(
            {
                navigation: { scroll: false, }
            }
        );
    </script>
</body>

</html>