  <div>
    <input type="text" id="search-input" placeholder="Search page">
<ul id="results-container"></ul>

<!-- script pointing to jekyll-search.js -->
<script src="{{ site.baseurl }}/simple-jekyll-search.min.js"></script>

  </div>
